.note {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 138px;
  background: rgb(245, 242, 209);
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  &__text {
    flex-grow: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  &__tags {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 6px 0 0;
  }
  &__tag-item {
    background: lighten(rgb(126, 23, 126), 50%);
    padding: 5px 7px;
    border-radius: 6px;
    line-height: 18px;
  }
  .trash-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    svg:hover {
      color: red;
      transition: all 0.1s;
    }
  }
}