.note__maker {
  font-size: 14px;
  width: 400px;
  min-width: 400px;
  min-height: 100%;
  background: lighten(rgb(126, 23, 126), 60%);
  padding: 20px 40px 10px;
  @media (max-width: 768px) {
    width: 280px;
    min-width: 280px;
    padding: 20px 20px 10px;
  }
  @media (max-width: 576px) {
    width: 100%;
    height: auto;
    min-height: fit-content;
  }
  label {
    text-transform: uppercase;
  }
  &-input {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    outline: none;
    padding: 5px;
    background: white;
    border: solid 1px #c8c8c8;
    border-radius: 3px;
    }
  &-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    input {
      width: 46%;
      padding: 6px 20px;
      background: rgb(255, 251, 4);
      border: none;
      border-radius: 6px;
      transition: all 0.3s;
      box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
      &:hover {
        cursor: pointer;
        color: white;
      }
      &:first-child:hover {
        background: rgb(126, 23, 126);
      }
      &:last-child:hover {
        background: rgb(112, 112, 112);
      }
    }
  }
  .error-message {
    height: 20px;
    color: red;
    text-transform: none;
    font-size: 10px;
    text-align: center;
  }
}

.public-DraftEditor-content {
  height: 100%;
}
.public-DraftEditorPlaceholder-inner {
  color: rgb(128, 128, 128);
  font-size: 0.9rem;
  min-height: 100%;
  height: 0;
}

.public-DraftEditor-content {
  min-height: 160px;
  @media (max-width: 576px) {
    height: auto;
    min-height: auto;
  }
}