.note__maker {
  width: 400px;
  min-width: 400px;
  height: 100vh;
  background: lighten(rgb(126, 23, 126), 60%);
  padding: 20px 40px 10px;
  label {
    text-transform: uppercase;
  }
  &-input,
  textarea
   {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    outline: none;
    padding: 5px;
    resize: vertical;
  }
  &-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    input {
      width: 46%;
      padding: 6px 20px;
      background: rgb(255, 251, 4);
      border: none;
      border-radius: 6px;
      transition: all 0.3s;
      box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
      &:hover {
        cursor: pointer;
        color: white;
      }
      &:first-child:hover {
        background: rgb(126, 23, 126);
      }
      &:last-child:hover {
        background: rgb(112, 112, 112);
      }
    }
  }
  .error-message {
    height: 20px;
    color: red;
    text-transform: none;
    font-size: 10px;
    text-align: center;
  }
}