.header {
  background-color: rgb(126, 23, 126);;
  height: 60px;
  @media (max-width: 520px) {
    height: auto;
    padding-bottom: 10px;
  }
  
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @media (max-width: 520px) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }
  }
  h1 {
    color: rgb(255, 255, 255);
    line-height: 30px;
    padding: 10px 0;
  }
  &__tags-select {
    line-height: 20px;
    width: 50%;
    @media (max-width: 520px) {
      width: 100%;
    }
  }
}