.notesBoarder {
  width: 100%;
  padding: 0 20px 0 0;
  &__wrapper {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px 0;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    @media (max-width: 576px) {
      padding: 20px 0 20px 20px;
    }
  }
  &__item {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}